
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
	color: #222;
}

.container {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 

Découpage de la page

*/  

#title {
    height: 100vh;
    padding: 15vh;
    background-color: white;
    display: flex;
    justify-content: center;
}

#top {
    display: flex;
    height: 130vh;
    background-color: black;
}

#album {
    display: flex;
    height: 130vh;
    width: 100%;
    background-color: white;
    padding: 20vh;
}


/* 

Title

*/  

#title .name {
    padding: 0;
    margin: 0;
    font-size: 12em;
}

#title .porto {
    padding: 0;
    margin-top: -15vh;
    margin-left: -4vh;
    font-size: 16em;
    font-family: cursive;
}

/* 

Top

*/  

#top {
    position: relative;
}

.image {
    overflow: hidden; /* cache ce qui dépasse */
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;      /* 👈 crop sans déformation */
    object-position: center; /* centre l’image */
    display: block;
}

.img-un {
    width: 600px;
    height: 400px;
    margin-top: -130px;
    margin-left: 160px;
}

.img-deux {
    width: 400px;
    height: 600px;
    margin-left: 875px;
    margin-top: -165px;
}

.img-trois {
    z-index: 2;
    position: relative;
    width: 800px;
    height: 350px;
    margin-top: 100px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


#top .deco {
    margin-top: -350px;
    margin-right: -100px;
}

#top .deco-text {
    padding: 0;
    font-size: 540px;
    transform: rotate(3.142rad);
    color: black;
}


/*
.img-un {
    width: 80vh;
    height: 50vh;
    margin-left: 15vh;
    margin-top: -18vh;
}

.img-un img {
    width: 100%;
    height: 100%;
}

.img-deux {
    width: 55vh;
    height: 75vh;
    margin-top: -22vh;
    margin-right: 15vh;
    float: right;
}

.img-deux img {
    width: 100%;
    height: 100%;
}

.img-trois {
    z-index: 2;
    position: relative;
    width: 110vh;
    height: 48vh; 
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.img-trois img {
    margin-top: 12vh; 
    width: 100%;
    height: 100%;
}


*/
